<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilos/styleAplicador.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Aplicador</title>
</head>
<body>
    <div id="app">
        <titlee title="SAV - Sistema de Agendamento de Vacinas"></titlee>
        <main class="tabela">
            <div class="topo">
                <p>Nome</p>
                <p>CPF</p>
                <p>Data</p>
                <p>Marca da Vacina</p>
            </div>
            <div class="informacoes">

            </div>
        </main>
        <footer>
            <button id="s">Sair</button>
            <button>Agendar 2º dose</button>
        </footer>
    </div>
</body>
<script>

    /*COMPONENTE TITULO1*/
    Vue.component('titlee', {
        props: ['title'],
        template: `<div class="title"> <div class="titles"><img src="./img/seringa.png" alt=""><p>{{title}}</p></div> <h1>AGENDAMENTOS</h1> </div>`
        })

 const vm = new Vue({
        el: "#app",
        data: {
           
        }  
    })


</script>
</html>