*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-color: #BACBB2;
    max-width: 100%;
    overflow-x: hidden;
}

.title{
    font-weight: 600;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

img{
    height: 4rem;
    width: 4rem;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.mostrarP form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    animation: fade 0.5s ease-in-out;
}

.mostrarP select{
    width: 37.1rem;
    height: 4rem;
    border-radius: 10px;
    border: 0;
    margin-top: 1rem;
    outline: none;
    font-size: 1.5rem;
    padding-left: 25px;
    border: 2px solid #E8F9E0;
    background-color: #a8b6a1;
}

.mostrarP form input{
    width: 35rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    padding-left: 25px;
    border: 2px solid #E8F9E0;
    background-color: #a8b6a1;
}

#sub{
    width: 150px;
    height: 60px;
    margin-top: 23px;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 30px;
    padding-left: 0px;
    border: 2px solid #E8F9E0;
    background-color: #BACBB2;
    display: flex;
    margin-left: 850px;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#sub:hover{
    background-color: black;
    color: white;
}

::-webkit-input-placeholder {
    color: black;
 }

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
   
}

.title2{
    width: 38rem;
    height: 80px;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E8F9E0;
    border-radius: 15px;
}

.title2 p{
   color: rgba(0, 0, 0, 0.705);
   font-weight: 600;
}

#vacination-date{
    margin-bottom: 1rem;
}
@keyframes lateral{
    from{
        opacity: 0;
        transform: translate3d(0px,-20px,0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0px,0px,0px);
    }
}
.principal{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #BACBB2;
    margin: 0 auto;
    transition: 0.5 ease-in-out;
    animation: lateral 0.5s ease-in-out;
}

.centro{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 500px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#1a18184f, #221e1a5e), url(../img/Principal.jpg)
}

.centro h1{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #26bfaa;
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.botoes button{
    cursor: pointer;
    margin-left: 80px;
    margin-right: 80px;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.b1{
    background-color: #9acce9;
}
.b2{
    background-color: #ffbc57;
}

.b1:hover{
    background-color: #9acce986;
}

.b2:hover{
    background-color: #ffbc578c;
}

.fvoltar{
    width: 150px;
    height: 60px;
    margin-top: 23px;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 30px;
    padding-left: 0px;
    border: 2px solid #E8F9E0;
    background-color: #BACBB2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: -59px;
    margin-left: 30px;
}
#fvoltarr{
    width: 50px;
    height: 50px;
    margin-top: 23px;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 13px;
    padding-left: 0px;
    border: 2px solid #E8F9E0;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 15px;
}

.fvoltar:hover{
    background-color: red;
    color: white;
}

.mostrarP label{
    margin-top: 20px;
    font-size: 25px;
    margin-right: 400px;
    color: red;
}

.mostrar{
    background-color: black;
}

#dataV{
    display: none;
}

.aplicador{
    background-image: linear-gradient(#1a18184f, #221e1a5e), url(../img/Login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    height: 70vh;
    width: 70%;
    margin-top: 50px;
    border-radius: 25px;
    flex-direction: column;
}

.aplicador form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aplicador form input{    
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 550px;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.subir{
    transform: translate3d(0px, 60px,0px) !important;

}

.aplicador form label{
    
    margin-right: 508px;
    margin-top: 20px;
    transform: translate3d(0px,90px,0px);
    transition: 0.5s ease-in-out;
}

.aplicador h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #ffffff;
}

.efeito{
    background-color: green;
    animation: scale 0.5s ease-in-out;
    display: block !important
}


.aplicador form button{
    margin-top: 1rem;
    cursor: pointer;
    background-color: #50b59e;
    width: 175px;
    border: 0;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.aplicador form button:hover{
    background-color: #50b59d98;
}

.esconder-calendario{
    display: none !important;
}

#Vmarca{
    display: none;
}

@media only screen and (max-width: 768px){

    .botoes button{
        margin-left: 10px;
        margin-right: 10px;
    }
    .title p{
        text-align: center;
        padding-right: 15px;
    }
    .title{
        margin-left: 0px;
    }
    .principal{
        width: 100%;
    }
    .mostrarP{
        width: 100%;
    }
    #sub{
        margin-left: 200px;
    }
    .mostrarP form input{
        width: 18rem;
    }
    .mostrarP form select{
        width: 20rem;
    }
    .mostrarP label{
        margin-right: 0px;
    }
    .title2{
        width: 18rem;
        margin: 0 auto;
        text-align: center;
    }

    .aplicador{
        width: 100%;
    }

    .aplicador h1{
        margin-top: 10px;
        text-align: center;
    }

    .aplicador form input{
        width: 70%;
    }
    .aplicador form label{
        margin-top: 0px;
        margin-right: 63%;
    }
}